In [1]:
import polars as pl
import mysql.connector

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    port = 3306,
    user="root",
    password="95gzagedmrjzP0nv3xq!"
)

mycursor = db.cursor()

query ="""
    SELECT 
        rating,
        COUNT(*)
    FROM sakila.film f 

    GROUP BY RATING
"""

df = pl.read_database(
    query = query,
    connection = mycursor
)

df.show()

mycursor.close()

In [ ]:
query ="""
    SELECT 
        rating,
        COUNT(*)
    FROM sakila.film f 

    GROUP BY RATING
"""

df = pl.read_database(
    query = query,
    connection = mycursor
)