In [1]:
import sys
sys.path.insert(0, 'C:\\Users\\rockh\\Repositories\\Tsuro\\')

from tsuro.sql import CXDatabaseClient

In [2]:
# YAML
yaml_path = 'C:\\Users\\rockh\\Repositories\\Tsuro\\tsuro\\sql\\db_creds.yaml'
client = CXDatabaseClient(yaml_path)

In [3]:
query ="""
    SELECT 
        rating,
        COUNT(*)
    FROM sakila.film f 

    GROUP BY RATING
"""

df = client.read_query(query, lazy_evaluator = False)

In [4]:
client.write_table(df, table_name = "test2", database = "testdb", insert_mode = "append")

In [12]:
client.connection_config

{'dbms': 'mysql',
 'host': 'localhost',
 'user': 'root',
 'password': '95gzagedmrjzP0nv3xq!',
 'port': 3306}

In [13]:
client.connection

'mysql://root:95gzagedmrjzP0nv3xq!@localhost:3306'

In [5]:
# URI
uri = "mysql://root:95gzagedmrjzP0nv3xq!@localhost:3306"
client2 = CXDatabaseClient(uri)

mysql://root:95gzagedmrjzP0nv3xq!@localhost:3306

In [6]:
client2.connection_config

{'dbms': 'mysql',
 'user': 'root',
 'password': '95gzagedmrjzP0nv3xq!',
 'host': 'localhost',
 'port': '3306'}

In [7]:
creds = {'dbms': 'mysql',
 'user': 'root',
 'password': '95gzagedmrjzP0nv3xq!',
 'host': 'localhost',
 'port': 3306,
 'database': "sakila"
        }

client3 = CXDatabaseClient(creds)

In [4]:
client3.connection

'mysql://root:95gzagedmrjzP0nv3xq!@localhost:3306/sakila'

In [5]:
client3.connection_config

{'dbms': 'mysql',
 'user': 'root',
 'password': '95gzagedmrjzP0nv3xq!',
 'host': 'localhost',
 'port': 3306,
 'database': 'sakila'}

In [8]:
query ="""
    SELECT 
        rating,
        COUNT(*)
    FROM sakila.film f 

    GROUP BY RATING
"""

df = client3.read_query(query, lazy_evaluator = False)

In [9]:
df.head(10)

shape: (5, 2)
┌────────┬──────────┐
│ rating ┆ COUNT(*) │
│ ---    ┆ ---      │
│ str    ┆ i64      │
╞════════╪══════════╡
│ PG     ┆ 194      │
│ G      ┆ 178      │
│ NC-17  ┆ 210      │
│ PG-13  ┆ 223      │
│ R      ┆ 195      │
└────────┴──────────┘

In [10]:
client3.write_table(df, table_name = "test")

In [31]:
df2.count()

shape: (1, 13)
┌─────────┬───────┬─────────────┬─────────────┬───┬─────────────┬────────┬────────────┬────────────┐
│ film_id ┆ title ┆ description ┆ release_yea ┆ … ┆ replacement ┆ rating ┆ special_fe ┆ last_updat │
│ ---     ┆ ---   ┆ ---         ┆ r           ┆   ┆ _cost       ┆ ---    ┆ atures     ┆ e          │
│ u32     ┆ u32   ┆ u32         ┆ ---         ┆   ┆ ---         ┆ u32    ┆ ---        ┆ ---        │
│         ┆       ┆             ┆ u32         ┆   ┆ u32         ┆        ┆ u32        ┆ u32        │
╞═════════╪═══════╪═════════════╪═════════════╪═══╪═════════════╪════════╪════════════╪════════════╡
│ 1000    ┆ 1000  ┆ 1000        ┆ 1000        ┆ … ┆ 1000        ┆ 1000   ┆ 1000       ┆ 1000       │
└─────────┴───────┴─────────────┴─────────────┴───┴─────────────┴────────┴────────────┴────────────┘

In [7]:
import polars as pl
df = pl.read_database_uri(query = query, uri = client.connection_uri)
df.head(10)

shape: (5, 2)
┌────────┬──────────┐
│ rating ┆ COUNT(*) │
│ ---    ┆ ---      │
│ str    ┆ i64      │
╞════════╪══════════╡
│ PG     ┆ 194      │
│ G      ┆ 178      │
│ NC-17  ┆ 210      │
│ PG-13  ┆ 223      │
│ R      ┆ 195      │
└────────┴──────────┘